.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1vw;
}

.header-text {
    font-size: 4vh;
}

.text-div {
    margin-left: 3vw;
    display: inline-block;
}

